<h1>Create a New Song</h1>
<a href="../songs">Cancel</a>
<br></br>

<form action="/songs" method="post">
  <input type="text" name="song[name]" placeholder="Song Title" id="Name">
  <br>
  <input type="text" name="song[artist_name]" placeholder="Artist Name">

  <br>
  <% @genres.each do |genre| %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="song[genre_ids]" id="genre_name" value="<%=genre.id%>" >
  <% end %>
  <br></br>



  <input type="submit" value="Create New Song">
</form>
